# environment variables
.env
.venv
./.env

#Cache folders
__pycache__

learn*.*
*_backup.py

/.cache
/.vscode
.DS_Store
.sqlite3
.bin
/rag/db
#*.ipynb
*/app/faiss_index
*/faiss_index

# processed log
processed_bkg_files.json
processed_si_files.json
*/processed_bkg_files.json
*/processed_si_files.json
